/* NEW STUFF - 18 DEC 2017 BPA */
/* per https://scoutingwire.org/bsa-brand-center/brand-identity/digital-guidelines/color/ */
/* #003f87 - scout blue */
/* #fdc116 - scout yellow */
/* #d6cebd - scout tan */
/* #515354 - scout warm grey */
/* #ce1126 - scout red */

/* import font files for sweet, sweet typefaces */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab');

/* flex-container controls the whole page */

.flex-container {
	display: -webkit-flex;
        display: flex;  
		-webkit-flex-flow: row wrap;
		        flex-flow: row wrap;
	text-align: center;
	}

.flex-container > * {
        padding: 5px;
		-webkit-flex: 1 100%;
		        flex: 1 100%;
	}

/* article controls the page content area (white) in the middle */

.article {
	text-align: left;
	padding: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	}
	
.article a {
	color: #003f87;
	}

.article img {
	margin: 0 auto;
	display: block;
	border-radius: 5px;
	}

.article h1 {
	font-family: 'Roboto Slab', serif;
	}

.article-caption {
	text-align: center;
	}

.article table {
	width: 75%;
	float: center;
	}

.article th {
	font-size: 125%;
	}

/* header controls the blue/gold bar at the top */

header {
	background: #003f87;
	color: #fdc116 ;
	font-weight: medium;
	vertical-align: middle;
	font-size: 200%;
	border-bottom: 5px solid #fdc116;
	}

header a {
	color: #fdc116 ;
	text-decoration: none;
	vertical-align: middle;
	font-family: 'Roboto Slab', serif;
	}

header small {
	color: #fdc116 ;
	font-size: 40%;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	}

header img {
	vertical-align: middle;
	padding: 5px;
	}

header div {
	vertical-align: middle;
	display: inline-block;
	}

.wrapper {
	margin: 0 auto;
	}

/* footer controls the red bar at the bottom */

footer {
	background:#ce1126;
	color:white;
	font-family: 'Roboto Slab', serif;
	}

footer a {
	color: white;
	text-decoration: none;
	text-decoration: underline;
	}

footer a:hover {
	text-decoration: underline;
	} 

footer img {
	vertical-align: middle;
	}

.left {
	float: left;
	vertical-align: middle;
	}

.right {
	float: right;
	vertical-align: middle;
	}

/* nav controls the nav bar (left side on big screens, under header on small screens) */

.nav {
	background:#d6cebd;
	}

.nav ul {
        list-style-type: none;
	padding: 5px;
	line-height: 1.5;
	}

.nav ul a {
        text-decoration: none;
	padding: 5px;
	color: #515354;
	line-height: 1.5;
	font-family: 'Roboto Slab', serif;
	font-size: 120%
	}

.nav ul a:hover {
	text-decoration: underline;
	color: #003f87;
	/* border: 2px solid #515354; */
	} 

/* media settings */

@media all and (min-width: 768px) {
.nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
.article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
footer {-webkit-order:3;order:3;}
    }

/* body setting - mostly for font setting */

body {
	margin:30px;
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: "Roboto"; */
	font-size: 14px;
	color: #333333;
	}

/* extra special sauce for the leaders' page */

.dropdown {
    position: relative;
    display: inline-block;
    /* border: 2px solid #d6cebd; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d6cebd;
    min-width: 640px;
    max-width: 900px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.leader-bio {
    display: inline-block;
}

.leader-bio img {
    height: 100px;
    margin: 5px;
    border-radius: 5px;
}
