# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName pack880.org
AuthUserFile /www/htdocs/_vti_pvt/service.pwd
AuthGroupFile /www/htdocs/_vti_pvt/service.grp
